<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reserva.fecha %>
</p>

<p>
  <strong>Direccionorigen:</strong>
  <%= @reserva.direccionOrigen %>
</p>

<p>
  <strong>Direccionllegada:</strong>
  <%= @reserva.direccionLlegada %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @reserva.estado %>
</p>

<p>
  <strong>Horasalida:</strong>
  <%= @reserva.horaSalida %>
</p>

<p>
  <strong>Horallegada:</strong>
  <%= @reserva.horaLlegada %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @reserva.ruta %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @reserva.distancia %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
