
   <%= params.each do|key, value|%>
       <%=  value %>
 <%end%>
   <%= form_for reservar_path, :method=> "POST" do %>
    <div class="field">
      <% my_date_time=Time.now + 6.days%>
      <%= label_tag :fecha %><br>
      <%= select_date(my_date_time, order: [:year, :month, :day],field_name: 'fecha') %>
    </div>
    <div class="field">
      <%= label_tag 'Direccion de salida' %><br>
      <%= text_field_tag :direccionOrigen %>
    </div>
    <div class="field">
      <%= label_tag :direccionLlegada %><br>
      <%= text_field_tag :direccionLlegada %>
    </div>

    <div class="field">
      <% my_time=Time.now %>
      <%= label_tag 'Hora de salida' %><br>
      <%= select_hour(my_time,field_name:'hour') %>
      <%= select_minute(my_time, ampm: true, field_name: 'moment')%>
    </div>
    <div class="actions">
      <%= submit_tag 'Crear reserva' %>

    </div>
       <%= @hola%>
<%end%>