<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reportet.fecha %>
</p>

<p>
  <strong>Trayectos:</strong>
  <%= @reportet.trayectos %>
</p>

<p>
  <strong>Tiempopromedio:</strong>
  <%= @reportet.tiempopromedio %>
</p>

<%= link_to 'Edit', edit_reportet_path(@reportet) %> |
<%= link_to 'Back', reportets_path %>
